################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HBS.Web/obj
/HBS.API/obj
/HBS.Domain/obj
